body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("./img/homepage-pic.jpg");
  background-size: 100%;
  background-position: 0 -200px;
  max-height: fit-content;
}

#content {
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  /* padding: 20px; */
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  white-space: normal;
}

nav a {
  display: inline-block;
  padding: 17px 20px;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-bottom: 3px solid orange;
  background-color: white;
  color: black;
}
