@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: "Great Vibes";
  src: url("./GreatVibes-Regular.otf");
}

:root {
  --yellow: #ffe380;
  --gray: #504d4d;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--yellow);
  font-family: 'Montserrat', sans-serif;
}

.bg {
  background-image: url("./img/homepage-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  max-height: fit-content;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

.bg-filter {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}

.left-links,
.right-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  white-space: nowrap;
}

nav a {
  font-family: "Inknut Antiqua", serif;
  display: inline-block;
  padding: 8px 25px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  text-align: center;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-bottom: 3px solid orange;
  background-color: rgba(255, 255, 255, 0.3);
}

#booking {
  color: black;
  border-bottom: 3px solid orange;
  background-color: rgba(255, 255, 255);
}

#booking:hover {
  color: white;
  border-bottom: 3px solid white;
  background-color: orange;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.title {
  font-family: "Island Moments", cursive;
  font-size: 9rem;
  color: white;
}

.title-desc {
  margin-top: -20px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-size: 1rem;
  color: white;
  width: 350px;
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 2;
}

.sub-desc {
  margin-top: 15px;
  font-size: 0.9rem;
  text-decoration: underline;
}

.menu-link {
  background-color: var(--yellow);
  color: var(--gray);
  border-radius: 0.5rem;
  padding: 0 10px;
  cursor: pointer;
  text-decoration: underline;
}

.menu-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10%;
  height: 120vh;
}

.menu-head {
  text-align: center;
  margin-top: 0;
  padding-top: 50px;
  font-family: 'Inknut Antiqua', serif;
  font-size: 3rem;
}

.menu-type {
  font-size: 3rem;
  font-family: "Great Vibes", serif;
  margin: 30px 0 25px 0;
  border-bottom: 2px solid var(--gray);
}

.menu-content > div:last-of-type > .menu-type {
  margin-top: 64px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 10px;
  align-items: baseline;
  margin-bottom: 15px;
}

.menu-name,
.menu-price {
  flex: 0 1 auto;
  white-space: nowrap;
  margin: 0;
  font-size: 1.2rem;
}

.divider {
  flex: 1 0 auto;
  border-bottom: 2px solid var(--gray);
  margin-bottom: 5px;
}

.about-header {
  height: 200px;
  width: 100%;

  background-image: url("./img/homepage-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-bg-filter {
  position: relative;
  top: 0;
  height: inherit;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-content: center;
}

.about-title {
  font-family: 'Inknut Antiqua';
  font-size: 3rem;
  color: #ffffff;
}

.about-header + div {
  max-width: 800px;
  margin: 64px auto 0 auto;
  padding: 0 10%;
  height: auto;
}

.about-header + div > p {
  line-height: 2rem;
}

.about-info {
  margin: 36px 0 64px 0;
  display: flex;
  justify-content: space-evenly;
  row-gap: 50px;
  flex-wrap: wrap;
}

.about-img {
  width: 200px;
  height: 150px;
  flex: 0 0 auto;
}

.about-info > div > ul {
  height: 100%;
  margin: 0 10px;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  list-style: none;
}

.about-info > div > ul > li {
  margin: 4px 0;
}



/* font-family: 'Inknut Antiqua', serif; 
    font-family: 'Island Moments', cursive;
        font-family: 'Montserrat', sans-serif;*/
