body {
  background-color: cyan;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: orange;
  padding: 20px;
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

nav a {
  margin: 0 20px;
}
